
<nav>
    <div class="container">
        <div class="container-1">
            <div class="text4">
                <button (click)="redirectToHome()">Home</button>
                <button (click)="redirectTo()">Logout</button>
            </div>
            <!-- <a class="text4" [routerLink]="['/firstpage']">LOGOUT</a> -->
            <input type="text" placeholder="Search transaction" class="search" style="font-family: cursive;">
            <div class="logo" style="color: rgb(113, 61, 9);font-family: cursive;">
                <p style="color: rgb(113, 61, 9);font-family: cursive;">Welcome {{this.Uname}}</p>
            </div>
        </div>
    </div>
</nav>

